<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTCPbinding">
          <security mode="None">
            <transport protectionLevel="None"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="MessageService.MessageService">
        <endpoint address="MessageService" binding="netTcpBinding" 
                  bindingConfiguration="" contract="MessageService.IUserManager"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081"/>
            <add baseAddress="net.tcp://localhost:8091"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="BaseDeDatosLoterestEntities"
         connectionString="metadata=res://*/Loterest.csdl|res://*/Loterest.ssdl|res://*/Loterest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SJ3KI9G;initial catalog=BaseDeDatosLoterest;persist security info=True;user id=Usuarioloterest;password=loterest2019;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>